.App {
  text-align: center;
}
body{
    background-image: linear-gradient(lightblue,hotpink,green);
    height: 100vh;
}
table{
  font-size: x-large;
  height: 550px;
  padding: 5px;
  background-color: white;
}
.Nav-header{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
 
}
a{
  color: rgba(20, 20, 16, 0.701);
}
input{
  text-align: center;
  width:200px;
  height:30px;
  font-style: italic;
  margin: 10px;
}
button{
  background-color: rgb(31, 153, 184);
  width: 120px;
  height: 50px;
  border: 5px solid white;
  color: black;
  font-size: 22px;
  border-radius: 10px;
  margin: 10px;
}
.Std-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
thead{
  color:chocolate;
  font-weight: bold;
}
.Nav-header a.active{
  text-decoration: none;
  color: rgb(23, 222, 63);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  table{
    font-size: 20px;
    
  }
}
